
.container-fluid.center-column
  .page-header
    h1.header_text#timeline Timeline
    a(href='/new' title="Create New Event")
      .glyphicon.page_header_btn.plus.glyphicon-plus
  ul.timeline
    li(ng-class="{'timeline-inverted' : $index % 2 != 0}" ng-repeat="event in events")
      .timeline-badge
        i.glyphicon.glyphicon-check
      .timeline-panel
        .timeline-heading
            h4.timeline-title {{event.title}}
          p
            small.text-muted
              i.glyphicon.glyphicon-time
              |  11 hours ago via Twitter
        .timeline-body
            p {{event.description}}
