
.container-fluid.center-column
  .page-header
    .row
      .col-xs-2
        h1#timeline Timeline
      .col-xs-3
        a(href='/new' title="Create New Event")
          .glyphicon.page_header_btn.glyphicon-plus
  ul.timeline
    li(ng-class="{'timeline-inverted' : $index % 2 != 0}" ng-repeat="event in events")
      .timeline-badge
        i.glyphicon.glyphicon-check
      .timeline-panel
        .timeline-heading
            h4.timeline-title {{event.title}}
          p
            small.text-muted
              i.glyphicon.glyphicon-time
              |  11 hours ago via Twitter
        .timeline-body
            p {{event.description}}
