extends layout

block body
  .dashboard
      .container
          h1 Theta Tau UCSD Dashboard
          br
          br
          div(ng-controller='AppCtrl')
            p  Welcome, #{user}!
            a(href='logout') Logout
                ul.menu
            li
              a(href='view1') view1
            li
              a(href='view2') view2

            div(ng-view)

            div
              | Angular seed app: v
              span(app-version)

  script(src='https://code.jquery.com/jquery.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js')
  script(src='/js/app.js')
  script(src='/js/services/sampleService.js')
  script(src='/js/controllers/sampleController.js')
  script(src='/js/filters/sampleFilter.js')
  script(src='/js/directives/sampleDirective.js')