extends layout

block body
  .dashboard(ng-controller='AppCtrl')
    .container-fluid
      .row
        .col-md-3.col-sm-6.col-xs-12
          //headers + user info
          .page-header

            h3 Theta Tau UCSD Dashboard
          div
            img(src='images/thetatau.png', width="50px", height="50px")
            h4  Welcome, #{user}!
            h7  xxxxx@gmail.com
            br
            h7  (xxx)-xxx-xxxx
            br
          a(ng-click='logout()') Logout
          ol.menu
            li
              a(href='timeline') Timeline
            li
              a(href='view2') view2
            li
              a(href='new') New Events Page
        .col-md-6.col-sm-6.col-xs-12
          //main block
          div(ng-view)
                  // div
                  //   | Angular seed app: v
                  //   span(app-version)
        .col-md-3.col-sm-6.col-xs-12
          //charms + buttons
          .page-header
            h1 Charms and Buttons