extends layout

block body

  //h1 Theta Tau UCSD Dashboard
  //br
  //br
  div(ng-controller='AppCtrl')
    //p  Welcome, #{user}!
    //a(ng-click='logout()') Logout
    //ol.menu
      //li
        //a(href='timeline') view1
      //li
        //a(href='view2') view2
      //li
        //a(href='new') new events page

    div(ng-view)
              // div
              //   | Angular seed app: v
              //   span(app-version)