extends layout

block body
  .dashboard
      .container
          h1 Theta Tau UCSD Dashboard
          br
          br
          p  Welcome, #{user}!
          a(href='logout') Logout
  script(src='https://code.jquery.com/jquery.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap.js')
  script(src='/js/ttapp.js')
