extends layout

block body
  .dashboard
      .container
          div(ng-controller='AppCtrl')
            div(ng-view)
                      // div
                      //   | Angular seed app: v
                      //   span(app-version)