extends layout

block body
  .container
    .row
      .col-md-4.col-md-offset-2
        img.profile-img(src='/images/thetatau.png', alt='')
      .col-md-4
        
        .account-wall
          h1.text-center.login-title GARNETT
          form.form-signin(action='/login', method='post')
            .form-group
              input#login_username.form-control(type='text', placeholder='Username', name='username', required='required', autofocus='autofocus')
            .form-group
              input#login_password.form-control(type='password', placeholder='Password', name='password', required='required')
            .row
            button.btn.btn-lg.btn-danger.btn-block(type='submit')
              | Log in
            //button.btn.btn-lg.btn-danger.btn-block(type='submit')
              //| Create account
              //implement backstretch